<footer>
  <nav class="menu">
    <ul>
      <li class="menu"><a href="/changelog">Changelog</a></li>
      <li class="menu"><a href="/privacy">Privacy</a></li>
      <li class="menu"><a href="/faq">FAQ</a></li>
      <li class="menu"><a href="/feedback">Feedback</a></li>
      <li class="menu"><a href="/support">Support</a></li>
    </ul>
  </nav>

  <div class="container">
    Made with ♥ in Finland by <a href="https://twitter.com/huksley_">@huksley_</a>
  </div>
</footer>
