<!doctype html>
<html>

<head>
    <title>Desktop Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= baseUrl %>/styles.css">
</head>

<body>
    <div class="container">
        <h1><span class="material-icons">login</span> Login</h1>

        <form action="/auth/submit" method="post" class="pure-form pure-form-stacked">
            <fieldset>
                <legend>Test login for local development environment. Not used in production.</legend>

                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="test" required />

                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="123" required />

                <button type="submit" class="pure-button pure-button-primary">
                    <i class="material-icons">login</i> Login</button>
            </fieldset>
        </form>
    </div>

</body>

</html>