service: calendar

plugins:
  - serverless-apigw-binary
  - serverless-domain-manager
  - serverless-plugin-test-helper
  - serverless-s3-block-public-access
  - serverless-plugin-git-variables

provider:
  name: aws
  stage: default
  runtime: nodejs12.x
  region: eu-west-1
  memorySize: 2048
  timeout: 30
  logRetentionInDays: 30
# endpointType: REGIONAL
  apiGateway:
    shouldStartNameWithService: true
  versionFunctions: false
  environment:
    NODE_ENV: production
    BASE_URL: 'https://calendar.ruslan.org'
    CONTENTS: ${ssm:/calendar/api/CONTENTS}
    GOOGLE_CLIENT_ID: ${ssm:/calendar/api/GOOGLE_CLIENT_ID}
    GOOGLE_CLIENT_SECRET: ${ssm:/calendar/api/GOOGLE_CLIENT_SECRET~true}
    SESSION_SECRET: ${ssm:/calendar/api/SESSION_SECRET~true}
    MONGO_URL: ${ssm:/calendar/api/MONGO_URL}
    MONGO_PASSWORD: ${ssm:/calendar/api/MONGO_PASSWORD~true}
    MONGO_USER: ${ssm:/calendar/api/MONGO_USER~true}
    LOG_VERBOSE: ${env:LOG_VERBOSE, '0'}
    PASSPORT_STRATEGY: google
    GIT_TAGS: ${git:tags}
  tags:
    project: 'calendar'
    component: 'api'
  stackTags:
    project: 'calendar'
    component: 'api'
  deploymentBucket:
    tags:
      project: 'calendar'
      component: 'api'

package:
  exclude:
    - 'README.md'
    - '.editorconfig'
    - 'LICENSE.md'
    - '.git/**'
    - '.github/**'
    - '.vscode/**'
    - '.gitignore'
    - 'test/**'

custom:
  exportGitVariables: false
  customDomain:
    domainName: ${env:CUSTOM_DOMAIN, 'calendar.ruslan.org'}
    createRoute53Record: true
    endpointType: regional
    enabled: ${env:CUSTOM_DOMAIN_ENABLED, 'true'}
  apigwBinary:
    types:
      - 'image/*'
      - 'application/font*'
      - 'application/pdf'
      # This allows binary conversion without Accept: image/* in request
      - '*/*'

functions:
  api:
    handler: index.serverless
    events:
      - http: GET /
      - http: 'ANY /{proxy+}'
